---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection, render } from 'astro:content';
import { Image } from "astro:assets";
import portrait from '../assets/balazs-huszar-portrait.png';

const references = await getCollection('references');

const renderedReferences = await Promise.all(
  references.map(async (post) => {
    const { Content } = await render(post);

    return {
      ...post,
      Content,
    };
  })
);
---

<MainLayout title="Balazs Huszar - Visual Designer">
	<div id="about" class="flex flex-col sm:flex-row items-center py-8 sm:flex-row-reverse">
		<div class="w-full sm:w-1/2 w-1/2">
			<h2 class="text-sm mb-2 before:content-[''] before:inline-block before:w-[8px] before:h-[8px] before:bg-sky-500 before:mr-1 before:rounded-full before:mb-[1px]">Multidisciplinary designer</h2>
			<h1 class="text-5xl font-bold mb-4">I design digital products and experiences.</h1>
			<p>With a passion for clear design, code and problem solving, I create functional, aesthetic and intuitive solution across platforms.</p>
		</div>
		<div class="w-full sm:w-1/2 justify-items-end sm:pr-12">
			<Image src={portrait} alt="Balazs Huszar portrait" class="max-w-full sm:max-w-[min(100%,300px)] rounded-full border-solid border-10 border-white shadow-[0_0_30px_rgba(0,0,0,0.15)] transition-[filter] duration-1000 grayscale hover:grayscale-0 brightness-130 hover:brightness-100"/>
		</div>
	</div>
	<h1 class="mb-8">References</h1>
	<p>Összesen: {renderedReferences.length} bejegyzés</p>
	{renderedReferences.map(post => (
		<div class="mb-8">
			<h2>{post.data.title}</h2>
			<h3>{post.data.client}</h3>
			<h3>{post.data.year}{post.data.yearEnd ? '-' + post.data.yearEnd : ''}</h3>
			{post.data.tools.length > 0 && (
				<ul class="badges">				
					{post.data.tools.map(tool =>(
						<li>{tool}</li>	
					))}
				</ul>
			)}			
			<post.Content />
		</div>	
	))}	
</MainLayout>
